.grid-container {
    display: inline-grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
  }

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    font-size: 15px;
    text-align: center;
}

.grid-item {
    margin-bottom: 2rem;
    background: #FFF;
}

    .grid-item .image.fit {
        margin: 0;
        border-radius: 0;
        width: 20%;
    }

        .grid-item .image.fit img {
            border-radius: 0;
        }

    .grid-item header h2 {
        margin-bottom: 2rem;
    }

    .grid-item header p {
        text-transform: uppercase;
        font-size: .75rem;
        font-weight: 300;
        margin: 0 0 .25rem 0;
        padding: 0 0 .75rem 0;
        letter-spacing: .25rem;
    }

        .grid-item header p:after {
            content: '';
            position: absolute;
            margin: auto;
            right: 0;
            bottom: 0;
            left: 0;
            width: 50%;
            height: 1px;
            background-color: rgba(0, 0, 0, 0.125);
        }

    .grid-item .content {
        padding: 3rem;
    }

    .grid-item > :last-child,
    .grid-item > :last-child > :last-child,
    .grid-item > :last-child > :last-child > :last-child {
        margin-bottom: 0;
    }

    .grid-item.alt {
        border: 0;
        border-radius: 0;
        padding: 0;
    }

    @media screen and (max-width: 736px) {

        .grid-item .content {
            padding: 2rem;
        }

    }

.grid-item {
    border-color: rgba(144, 144, 144, 0.25);
}
  
